.App {
  background-color: #f8fafc;
  min-height: 100vh;
}

.smooth-shadow{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.014),
  0 22.3px 17.9px rgba(0, 0, 0, 0.012),
  0 41.8px 33.4px rgba(0, 0, 0, 0.016);
}